main {
  background-color: rgba(79, 109, 153, 0.666);
  display: flex;
  margin: 30px;
  border: 1px solid rgba(167, 167, 167, 0.534);
  border-radius: 20px;
  padding: 30px;
}

.btn {
  margin: 5px;
  width: 90px;
}

.input-group {
  display: flex;
  flex-direction: row;
}

div .table {
  border: solid 1px rgba(128, 128, 128, 0.357);
  margin: 30px;
}
